.button {
	background-color: #000;
	border: none;
	color: #f4f4f4;
	padding: 5px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	margin: 4px 2px;
	margin-left: 10%;
	cursor: pointer;
	border-radius: 10px;
  }

.button:hover {
	background-color:  #84B59F;
	color: #fff ;
	box-shadow: 5px 7px rgb(136, 136, 136, 0.1);
}

.input{
	box-sizing: border-box;
	padding: 0.5em;
	margin:0.5em;
	border: 2px solid #eee;
	border-radius:7px;
}

.inputbox{
	box-sizing: border-box;
	padding: 0.5em;
	margin:0.5em;
	border: 2px solid #eee;
	border-radius:7px;
	resize: vertical;
}
